name: Build and Deploy
on: [push]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: 'arn:aws:iam::910320664791:role/SmartcityStandaloneInfraA-SmartcityStandaloneInfraA-MlMTQc5HZbN7'
          aws-region: ap-northeast-1

      - name: 'Create SmartCity Vector Tile'
        uses: geolonia/smartcity-data-upload-action@main
        with:
          INPUT_DIR: './data'
          MUNICIPALITY_CODE: '37201'
